<?php
/*!
 * @file Config.php
 * @author Sensu Development Team
 * @date 2018/03/30
 * @brief 設定
 */

class Config
{
    /*!
     * @brief SensuプラットフォームAPIキー
     */
    const SENSU_PLATFORM_API_KEY = 'sensu_platform_api_key';

    /*!
     * @brief Discord APIトークン
     */
    const DISCORD_API_TOKEN = 'discord_api_token';
}
